.cartContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.cartContainer h1 {
  font-size: 20px;
  padding-bottom: 10px;
  border-bottom: rgba(128, 128, 128, 0.423) solid 1px;
  margin: 0;
  margin-bottom: 10px;
}

.cartContainer .actions {
  display: flex;
  justify-content: space-between;
}
.productImageAndName {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cartItem {
  /* border-bottom: solid 1px grey; */
  border-bottom: rgba(128, 128, 128, 0.423) solid 1px;

  margin-bottom: 10px;
  padding-bottom: 10px;
}
.productImage {
  width: 45px;
  height: 45px;
  border-radius: 5px;
  object-fit: cover;
}
.productPriceAndQuantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.productPrice {
  font-weight: bold;
}

.productQuantity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  border-radius: 5px;
  border: 0.5px solid black;
  height: 35px;
  margin-left: auto;
}

.quantityButton {
  display: grid;
  place-content: center;
  width: 35px;
  height: 35px;
  align-self: flex-end;
  border-radius: 5px;
  border: none;
  background-color: white;
  cursor: pointer;
}

.quantityButton:hover {
  background-color: #eee;
}

.quantity {
  width: 35px;
  display: flex;
  justify-content: center;
}

.removeButton {
  height: 35px;
  padding: 10px;
  margin: 0, 10px;
  border-radius: 5px;
  font-size: 20px;
}

.cartButtons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.totalAmount {
  font-weight: bold;
}
