.cartContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.cartItem {
  width: 23.625rem;
  height: 6.25rem;
  border-radius: 0.625rem;
  background: #fff;
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.25);
}
.cartImage {
  width: 8.0625rem;
  height: 5rem;
  flex-shrink: 0;
  border-radius: 0.3125rem;

  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.25);
}
.title {
  color: #000;
  font-family: Inter;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
