.formWrapper {
  display: flex;
  flex-direction: column;
  padding: 10px;
  max-height: 75vh;
  overflow-y: scroll;
}
.title {
  color: #000;
  font-family: Inter;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0 0 10px 0;
}
.formGroupLabel {
  font-weight: 400;
}
.formGroup {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.formGroup label {
  margin-bottom: 10px;
}
.input {
  width: calc(100% - 40px);
  padding-left: 20px;
  height: 3.125rem;
  flex-shrink: 0;
  border-radius: 0.625rem;
  border: none;
  background: #fff;
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.25);
}
.formGroupContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.formGroupDelivery {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: calc(100vw - 20px);
}
.formGroupLeft {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 18.6875rem;
  height: 6.25rem;
  flex-shrink: 0;
  border-radius: 0.625rem;
  background: #fff;
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.25);
}
.formGroupLeft div {
  display: flex;
  align-items: center;
}
.formGroupLeft input {
  height: 1.2rem;
  width: 1.2rem;
  margin-left: 20px;
}
.formGroupLeft span {
  margin-left: 20px;
}
.formGroupLeft div:nth-child(2) {
  border-bottom: 1px solid #e0e0e0;
  width: 80%;
  align-self: center;
}
.formGroupRight {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 3.8125rem;
  height: 6.25rem;
  flex-shrink: 0;
  border-radius: 0.625rem;
  background: #fff;
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.25);
}

.formGroupRight div {
  border-bottom: 1px solid #e0e0e0;
  width: 80%;
  align-self: center;
}
.formGroupRight img {
  align-self: center;
  justify-self: center;
}
.textArea {
  width: calc(100% - 40px);
  padding-top: 20px;
  padding-left: 20px;
  height: 6.125rem;
  flex-shrink: 0;
  border-radius: 0.625rem;
  border: none;
  background: #fff;
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.25);
}

.buttonContainer {
  position: absolute;
  bottom: 0rem;
  width: 100vw;
  height: 4rem;
  background: #fff;
  display: grid;
  place-content: center;
  z-index: 1000;
}
.buttonCard {
  width: 17.25rem;
  height: 2.5rem;
  border-radius: 0.3125rem;
  background: #fff;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
  display: grid;
  place-content: center;
}
.buttonInfo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.buttonIcon {
  width: 1.5rem;
}

.submitButton {
  color: black;
}

.error {
  color: red;
  font-size: 0.75rem;
  font-weight: 400;
  margin-top: 5px;
}
