.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: calc(80vh - 110px);
  overflow-x: scroll;
}

.imgContainer {
  width: calc(100vw - 20px);
  height: 35vh;
  object-fit: cover;
  border-radius: 0.3125rem;
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cardImage {
  width: calc(100vw - 20px);
  height: 35vh;
  object-fit: cover;
  border-radius: 0.3125rem;
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.25);
}

.cardName {
  position: absolute;
  display: flex;
  width: 10.1875rem;
  height: 1.8125rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  flex-shrink: 0;
  border-radius: 1.875rem;
  opacity: 0.7;
  background: #efeeee;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
  top: 1rem;
  color: #000;
  font-family: Inter;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.priceContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.infoContainer {
  display: flex;
  flex-direction: row;
  width: calc(100vw - 20px);
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.checkBox {
  width: 1.85rem;
  height: 1.85rem;
  flex-shrink: 0;
  border-radius: 0.3125rem;
  background: #fff;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
}
.checkBox:checked {
  color: green;
  border: red 1px solid;
}
label {
  display: flex;
  align-items: center;
  gap: 10px;
}
.countAndPrice {
  display: flex;
  gap: 10px;
  align-items: center;
}
.price {
  display: flex;
  width: 5.6875rem;
  height: 2.1875rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  flex-shrink: 0;
  font-weight: 700;
  border-radius: 1.875rem;
  background: #efeeee;
}
