.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: calc(80vh - 110px);
  overflow-x: scroll;
}

.imgContainer {
  width: calc(100vw - 20px);
  height: 35vh;
  object-fit: cover;
  border-radius: 0.6125rem;
  overflow: hidden;
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cardImage {
  width: calc(100vw - 20px);
  height: 35vh;
  object-fit: cover;
  border-radius: 0.3125rem;
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.25);
}
.cardDescription {
  height: 20px;
  width: 100%;
  text-align: center;
}
.cardName {
  position: absolute;
  display: flex;
  /* width: 12.1875rem; */
  padding-left: 12px;
  padding-right: 12px;
  height: 1.8125rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  flex-shrink: 0;
  border-radius: 1.875rem;
  opacity: 0.7;
  background: #efeeee;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
  top: 1rem;
  color: #000;
  font-family: Inter;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.priceContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
