.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 325px;
  max-width: calc(100vw - 40px);
  height: auto;
  border-radius: 20px;
  background: #fefefe;
  gap: 5px;
  padding: 30px 10px;
  border: solid 1px #0010195d;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.imgContainer {
  position: relative;
}
.imgContainer img:nth-child(2) {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.leftInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.leftInfo p {
  color: #001019;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  border-radius: 30px;
  background: #e4e4e4;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  width: 220px;
  height: 60px;
}
.leftInfo span {
  color: #001019;
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.rigthInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.rigthInfo span {
  color: #001019;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.rigthInfo button:nth-child(2) {
  display: flex;
  width: 240px;
  height: 35px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 30px;
  background: rgba(250, 74, 12, 0.5);
  cursor: pointer;
}
.rigthInfo button:nth-child(2):hover {
  background: rgba(250, 74, 12, 0.8);
}
.rigthInfo button:nth-child(3) {
  display: flex;
  width: 240px;
  height: 35px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #e4e4e4;
  color: #001019;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}
.rigthInfo button:nth-child(3):hover {
  background: #001019;
  color: #fefefe;
}
