.searchInput__container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: calc(100vw - 60px);
  height: 20px;
  font-size: 14px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 10px;
}

.searchInput {
  border: none;
  border-radius: 20px;
  padding: 10px;
  width: calc(100vw - 60px);
  height: 100%;
}

.searchInput:focus {
  outline: none;
}
