/* .searchInput__container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23.625rem;
  height: 2.5rem;
  flex-shrink: 0;
  font-size: 14px;
  border: none;
  border-radius: 1.875rem;
  background: #efeeee;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 10px;
} */
.searchInput__container {
  width: 23.625rem;
  height: 2.5rem;
  flex-shrink: 0;
  border-radius: 1.875rem;
  background: #efeeee;
  display: flex;
  justify-content: center;
}

.searchInput {
  border: none;
  border-radius: 20px;
  background: #efeeee;
}

.searchInput:focus {
  outline: none;
}

.searchInput__MagnifyingGlass {
  width: 1.125rem;
  height: 1.125rem;
  flex-shrink: 0;
  fill: #000;
  opacity: 0.5;
}
